{% extends 'base.html' %}

{% block title %}Habit Tracking{% endblock %}

{% block content %}
<div class="content my-4">
    <h2 style="text-align: center;">Habit Tracking</h2>
    <p style="text-align: center;">Track your habits here.</p>

    {% if sleep_graph and screen_time_graph %}
        <div style="text-align: center;">
            <h2>Sleep Log</h2>
            <img src="data:image/png;base64,{{ sleep_graph }}" alt="Sleep Log Graph">
        </div>

        <!-- <div style="text-align: center;">
            <h2>Screen Time Tracker</h2>
            <img src="data:image/png;base64,{{ screen_time_graph }}" alt="Screen Time Graph">
        </div> -->
    {% else %}
        <p>{{ msg }}</p>
    {% endif %}
    <!-- Sleep Tracker -->
    <section id="sleep-tracker" class="tracker-section">
        <h3>Sleep Tracker</h3>
        <div class="form-group">
            <label for="sleep-hours">Enter hours of sleep:</label>
            <input type="number" id="sleep-hours" class="form-control" placeholder="e.g. 8">
        </div>
        <button id="add-sleep-btn" class="btn btn-primary">Add Sleep</button>
        <p class="mt-2">Total Sleep: <span id="total-sleep" class="font-weight-bold">0</span> hours</p>
    </section>

    {% if sleep_graph and screen_time_graph %}
    <!-- <div style="text-align: center;">
        <h2>Sleep Log</h2>
        <img src="data:image/png;base64,{{ sleep_graph }}" alt="Sleep Log Graph">
    </div> -->

    <div style="text-align: center;">
        <h2>Screen Time Tracker</h2>
        <img src="data:image/png;base64,{{ screen_time_graph }}" alt="Screen Time Graph">
    </div>
{% else %}
    <p>{{ msg }}</p>
{% endif %}


    <!-- screen time Tracker -->
    <section id="screentime-tracker" class="tracker-section">
        <h3>Screen time Tracker</h3>
        <div class="form-group">
            <label for="screentime-amount">Enter amount of hours slept:</label>
            <input type="number" id="screentime-amount" class="form-control" placeholder="e.g. 8">
        </div>
        <button id="add-screentime-btn" class="btn btn-primary">Add Screen time</button>
        <p class="mt-2">Total Screen time: <span id="total-screentime" class="font-weight-bold">0</span> hours</p>
    </section>


{% endblock %}
